extends ../../layout

block content
    script( defer src="/javascripts/attributes.js" )

    form.col-md-12
        .form-group
            label(for='attributeTitle') Название
            input#attributeTitle.form-control(placeholder='Введите название')
        .form-group
            #message.alert.alert-danger(style="display: none")

        #addAttributeButton.btn.btn-primary Добавить атрибут